@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-white;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex min-h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-blue-800;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-blue-800 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #1e40af !important ;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #1e40af !important ;
}

.container-tabs {
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs button {
  background-color: lightgray;
  border: none;
  color: #888888;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-out;
}

.tabs button:hover {
  color: #1e429f;
  background-color: rgba(255, 255, 255, 0.15);
}

.tabs button:disabled {
  background: #1e429f;
  color: white;
}

.container-tabs .title {
  color: black;
  font-size: medium;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.container-tabs .content {
  padding: 50px 80px;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

.container-tabs .content,
button {
  font-size: 15px;
}

.container-tabs footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 50px 0;
}

.container-tabs footer a {
  color: #999999;
  text-decoration: none;
}

.container-tabs footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 960px) {
  ..container-tabs {
    width: 100%;
  }

  .container-tabs .content {
    padding: 50px;
  }
}
